{% load static %}
<html>
    <style>

    </style>
    <head>
        <meta charset="utf-8">

        <meta name="description" content="Description">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
        <link type='text/css' href='{% static "css/estiloP.css" %}' rel='stylesheet' />
    </head>
    <body>
        <main class="main">

            <div class="main-inner">
                </header><!-- Hacer responsivo con lo de inicio de sesion  -->
                <div class="login-box">
                    <h2>Perfil</h2>
                    <form action="" id="formularioReg" method="post">
                        {% csrf_token %}
                        <div class="user-box">
                            <input type="text" name="txtCorreo" required="" value=" {{datos.Correo}} ">
                            <label>Correo</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="txtUsuario" required="" value=" {{datos.NomUsuario}} ">
                            <label>Usuario</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="txtNombre" required="" value=" {{datos.Nombre}} " readonly>
                            <label>Nombre</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="txtApellido" required="" value=" {{datos.Apellido}} " readonly>
                            <label>Apellido</label>
                        </div>
                        <div class="user-box">
                            <input type="password" name="txtContrasena" required="" value="******" readonly>
                            <label>Password</label>
                        </div>
    
                        <button type="submit" style="--clr:#0FF0FC; margin-left: 44%;"><span>Enviar</span><i></i></button>
                    </form>
                </div>
        </main><!-- End main -->
    </body>

</html>